
.card{
background-color:rgb(179 215 255);
margin-bottom: 20px;

}
.small{
margin-top: 50px;

}

.body{
  
  margin-top: 50px;
  color: black;
}
.submit{
  color:black;
  margin-top:120px;
}
.button{
  margin: 30px;
}
.header{
background-color:rgb(0 123 255)!important;
height:65px;
padding: 20px;
}

.below{
color:rgb(0 123 255)!important;
font-size: 30pt;
margin-top:50px;
font-weight: bold;
}
.nav{
  height: auto;
}
.profile_btn{
margin-top:30px;

}

.header div a:hover {
background-color:skyblue;
text-decoration: none;
  text-decoration-style: none;
}
.header div a{
  color:white;
  padding:20px;
}

.apiback{
  margin-top: 60px;
}

.api ul:only-child{
  background-color:#5e605b;
  padding: 10px;
  color:white;
  font-style: italic;
}

.api ul li{
  padding: 10px;
  list-style: none;
}
body{
margin-top:0px;
  
}
